html{
	max-width: 100vw;
	max-height: 100vh;
	font-family: 'proxima-nova';
	display: -webkit-flex;
	display: flex;
    flex-direction: column;
    align-items:stretch;
	margin: 0;
    min-height: 100vh;
    background-image: url(../image/light-tile.gif);
}

body{
    display: -webkit-flex;
    display: flex;
    flex:auto;
    flex-direction: column;
    background: none; 
    align-items: center;
    padding:0px;
    margin: 0px;
}

div {
    background-color: white;
    border: solid 2px #424242;
}

div.buttons{
    display:flex;
    flex-direction: row;
    border:none;
    background: none;
}

div.buttons .button{
    margin-left: 2px;
}

div.header{
    background-color: #ebebeb;
    border: solid 0px black;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items:center;
    min-width: 100%;
    justify-content: space-around;
}
    
div.main {
    background-color: white;
    border: solid 0px black;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin:0px;
    flex-basis: auto;
    flex-grow: 0;
    margin-top: 10vh;
}

div.chat{
    display:none;
    flex-direction: column;
}

div.chat_content{
    background-color: white;
    border: solid 0px black;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items:center;
}

form.login_form{
    border: solid 2px #424242;
}
    
div.messages {
    overflow: scroll;
    width: 600px;
    height: 350px;
}
    
div.users {
    overflow: scroll;
    width: 150px;
    height: 350px;
}
    
form.message_form {
    width: 752px;
    height: 50px;
    background-color: white;
    border: solid 2px #424242;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

form.registration_form{
    border: solid 2px #424242;
    background-color: white;
    display: -webkit-flex;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

form.registration_form *{
    margin: 6px;
}
    
input.sending {
    height: 46px;
    background-color: #424242;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;   
}

input.unkick{
    background-color: #008000;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
    
.button {
    background-color: #424242;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.kick_button {
    background-color: #8B0000;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.unkick_button {
    background-color: rgb(0, 139, 7);
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.user {
    border: none;
    display:flex;
    justify-content: space-between;
    margin: 2px;
}

.user_info{
    display:none;
    height:250px;
    z-index: 9999;
    padding:0px;
}

.user_info .avatar_container{
    width:150px;
    height:150px;
    border:none;
    margin:0px;
    padding:0px;
}

.user_info .avatar{
    max-width: 150px; 
    height: auto;  
}

.user_info p{
    display:block;
    padding: 5px;
    margin: 0px;
}

.overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.4; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.4; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=40);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}

.error_container{
    display:none;
    background: none; 
    border:none;
    color: #8B0000;
    margin-top: 10px;
    font-size: 1.2em;
}