<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Encoding" value="Cp866"/>
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-5p][%30.30c] - %m%n" />
        </layout>
    </appender>

  
    <appender name="application" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="application.log"/>
        <param name="MaxFileSize" value="5KB"/>
        <param name="MaxBackupIndex" value="3"/>
        <param name="Encoding" value="UTF-8"/>
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-5p][%15c{-2}] - %m%n"/>
        </layout>
    </appender>
    
    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="application"/>
        <appender-ref ref="ConsoleAppender" />
    </root>
    
    <logger name="org.springframework" additivity="false">
        <level value="INFO" />
        <appender-ref ref="ConsoleAppender"/>
    </logger>

</log4j:configuration>